/* VARIÁVEIS */
$base-font-family:"Roboto", sans-serif;
$base-font-size:14px;
$base-font-weight:400;
$base-color:#666666;
$base-height:100vh; 
$base-line-height:22px;


$second-font-family: 'avenir_lt_std95_black', sans-serif;


*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

body { background: #F4F4F4; color:$base-color; font-family:$base-font-family; font-size:$base-font-size; font-weight:$base-font-weight; cursor:default;  /*overflow-x: hidden; */}
html, body {background: #F4F4F4; height:$base-height; width: 100%; overflow-x: hidden;}

img {
	display: block;
	max-width: 100%;
}

p{
  line-height: $base-line-height;
  strong{
    font-weight: 900;
  }
}

.img-cover {
  img {
    width: 100%;
    height: 100%;

    -webkit-object-fit: cover;
            object-fit: cover;
  }
}

a {
  @include transition(all .5s);
  &:hover {
        text-decoration: none;
    @include transition(all .5s);
  }
}

* {
    outline-style:none;
    &:focus {
        outline: none;
        outline-style: none;
    }
}
button {
    outline-style:none !important;
    &:focus {
        outline: none !important;
        outline-style: none !important;
    }
    &:active {
        outline: none !important;
        outline-style: none !important;
    }
}

.form-control{
  &:focus{
    box-shadow: none;
  }
}

.overflow-hidden {
    overflow: hidden;
}